.sidebar {
    width: 700px;
    max-height: 700px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}